/* CSS declarations go here */
  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
  /* Set gray background color and 100% height */
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}
header {background:purple;color:white;}

  .col-sm-3 {
    background-color: #f1f1f1;
    height: 100%;
    top:0;
    bottom:30%;
  }
.submenu div p {
    color:#fff;
    margin: 0;
    padding:0;
    width:100%;
    position: relative; word-break: break-all; background:red
}
.col-sm-9 {
    background-color: #f1f1f1;
    height: 100%;
    top:0;
    bottom:60%;
  }
  footer {
    background-color: #f1f1f1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4%;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
     /*padding: 15px;*/
    }
    .row.content {height: auto;}
  }